DB_URL=
DB_USERNAME=
DB_PASSWORD=

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

EMAIL_USERNAME=your_email@gmail.com
EMAIL_PASSWORD=your_app_password